@{
    ViewData["Title"] = "Nums 1 ... 50";
}

<h1>@ViewBag.Title</h1>
<ul>
    @for (int i = 1; i <= 50; i++)
    {
        <li>@i</li>
    }
</ul>

<label for="limitInput">Input Limit</label>
<input type="number" id="limitInput" value="50"/>
<button class="btn btn-primary" onclick="SetLimit()">Get Limited Numbers</button>

@section Scripts {
    <script src="~/js/Numbers.js"></script>
}